#segment-footer > .container {background-color: #888888;}
      .navbar-inverse {background-color: #105eab;}

#segment-header > .container {
      display: flex;
}

#segment-header > .container > #hl7-nav {
      display:inline-block;
}

#segment-header > .container > #ig-status {
      margin-left: 130px;
}
      